<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kouhei.first.greenbag.daymemory">

    <!--
    外部ストレージを使うため、以下二つのパーミッションチェックを追加する
    これは"dangerous permission"なので、permission checkの実装が必要となる。
    https://akira-watson.com/android/external-storage-image.html
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="kouhei.first.greenbag.daymemory.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 日記編集画面 -->
        <!-- windowSoftInputMode: ソフトウェアキーボードの扱いの設定 -->
        <activity
            android:name=".EditDiaryActivity"
            android:label="@string/title_activity_edit_diary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 日記一覧画面 -->
        <activity
            android:name=".MainStackActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- パスワード設定画面 -->
        <activity
            android:name=".PassCodeSetActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainStackActivity" />
        </activity>

        <!-- パスワード入力画面 -->
        <activity
            android:name=".PassCodeConfirmActivity"
            android:screenOrientation="portrait" />

        <!-- 日記検索画面 -->
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- 親アクティビティを指定して戻るボタンを出す -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainStackActivity" />
            <!-- 検索設定を適用 -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!--「アプリについて」画面-->
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainStackActivity" />
        </activity>
    </application>

</manifest>